tugas2_wsdl (1).wsdl

<definitions name="FilmService"
	targetNamespace = "http://www.tugas2.com/wsdl/FilmService.wsdl"
	xmlns = "http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns = "http://www.tugas2.com/wsdl/FilmService.wsdl"
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	
	<type>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:f="www.google.com"
			targetNamespace="www.google.com"
			elementFormDefault="qualified">
			
			<xsd:element name="Films" type="f:filmsType"/>
			
			<xsd:complexType name="filmsType">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="id" type="xsd:int"/>
					<xsd:element name="title" type="xsd:string"/>
					<xsd:element name="year" type="xsd:int"/>
					<xsd:element name="actors" type="f:actorsType"/>
					<xsd:element name="genres" type="f:genreType"/>
					<xsd:element name="synopsis" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="actorsType">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="genre" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="actorsType">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="actor" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
	</type>
	
	<!-- REQUEST -->
	<message name = "CreateRequest">
		<part name = "id" type="xsd:int"/>
		<part name = "title" type="xsd:string"/>
		<part name = "year" type="xsd:int"/>
		<part name = "actors" type="tns:actorsType"/>
		<part name = "genres" type="tns:genreType"/>
		<part name = "synopsis" type="xsd:string"/>
	</message>
	
	<message name = "ReadAllRequest"/>
	
	<message name = "ReadByIdRequest">
		<part name = "id" type="xsd:int"/>
	</message>
	
	<message name = "UpdateRequest">
		<part name = "id" type="xsd:int"/>
		<part name = "title" type="xsd:string"/>
		<part name = "year" type="xsd:int"/>
		<part name = "actors" type="tns:actorsType"/>
		<part name = "genres" type="tns:genreType"/>
		<part name = "synopsis" type="xsd:string"/>
	</message>
	
	<message name = "DeleteByIdRequest">
		<part name = "id" type="xsd:int"/>
	</message>
	
	
	<!-- RESPONSE -->
	<message name = "CreateResponse">
		<part name = "return" type="xsd:boolean"/>
	</message>
	
	<message name = "ReadAllResponse">
		<part name = "return" type="tns:films"/>
	</message>
	
	<message name = "ReadByIdResponse">
		<part name = "id" type="xsd:int"/>
		<part name = "title" type="xsd:string"/>
		<part name = "year" type="xsd:int"/>
		<part name = "actors" type="f:actorsType"/>
		<part name = "genres" type="f:genreType"/>
		<part name = "synopsis" type="xsd:string"/>
	</message>
	
	<message name = "UpdateResponse">
		<part name = "return" type="xsd:boolean"/>
	</message>
	
	<message name = "DeleteByIdResponse">
		<part name = "return" type="xsd:boolean"/>
	</message>
	
	<message name = "NotificationResponse">
		<part name = "title" type="xsd:string"/>
		<part name = "year" type="xsd:int"/>
	</message> 
	
	<!-- PORT TYPE -->
	<portType name = "Tugas2_PortType">
		<operation name = "Create">
			<input message = "tns:CreateRequest"/>
			<output message = "tns:CreateResponse"/>
		</operation>
		<operation name = "ReadAll">
			<input message = "tns:ReadAllRequest"/>
			<output message = "tns:ReadAllResponse"/>
		</operation>
		<operation name = "ReadById">
			<input message = "tns:ReadByIdRequest"/>
			<output message = "tns:ReadByIdResponse"/>
		</operation>
		<operation name = "Update">
			<input message = "tns:UpdateRequest"/>
			<output message = "tns:UpdateResponse"/>
		</operation>
		<operation name = "Delete">
			<input message = "tns:DeleteByIdRequest"/>
			<output message = "tns:DeleteByIdResponse"/>
		</operation>
		<operation name = "Notification">
			<output message = "tns:NotificationResponse"/>
		</operation>
	</portType>
	
	
	<binding name="Tugas2_Binding" type="tns:Tugas2_PortType">
		<soap:binding style = "rpc"
			transport = "http://schemas.xmlsoap.org/soap/http/"/>
		<operation name = "Create">
			<soap:operation soapAction = "Create"/>
			
			<input>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap/org/soap/encoding"
					namespace = "urn:tugas2:filmservice"
					use = "encoded"/>
			</input>
			
			<output>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
					namespace = "urn:examples:filmservice"
					use = "encoded"/>
			</output>
		</operation>
		
		<operation name = "ReadAll">
			<soap:operation soapAction = "ReadAll"/>
			
			<input>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap/org/soap/encoding"
					namespace = "urn:tugas2:filmservice"
					use = "encoded"/>
			</input>
			
			<output>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
					namespace = "urn:examples:filmservice"
					use = "encoded"/>
			</output>
		</operation>
		
		<operation name = "ReadById">
		
			<soap:operation soapAction = "ReadById"/>
			
			<input>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap/org/soap/encoding"
					namespace = "urn:tugas2:filmservice"
					use = "encoded"/>
			</input>
			
			<output>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
					namespace = "urn:examples:filmservice"
					use = "encoded"/>
			</output>
		</operation>
	
		<operation name = "Update">
		
			<soap:operation soapAction = "Update"/>
			
			<input>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap/org/soap/encoding"
					namespace = "urn:tugas2:filmservice"
					use = "encoded"/>
			</input>
			
			<output>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
					namespace = "urn:examples:filmservice"
					use = "encoded"/>
			</output>
		</operation>
		
		<operation name = "Delete">
		
			<soap:operation soapAction = "Delete"/>
			
			<input>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap/org/soap/encoding"
					namespace = "urn:tugas2:filmservice"
					use = "encoded"/>
			</input>
			
			<output>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
					namespace = "urn:examples:filmservice"
					use = "encoded"/>
			</output>
		</operation>
		
		<operation name = "Notification">
		
			<soap:operation soapAction = "Notification"/>
			
			<output>
				<soap:body
					encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
					namespace = "urn:examples:filmservice"
					use = "encoded"/>
			</output>
		</operation>
	</binding>
	
	<service name = "Tugas2_Service">
		<documentation>WSDL File for Tugas 2</documentation>
		<port binding = "tns:Tugas2_Binding" name = "Tugas2_Port">
			<soap:address location = "http://www.tugas2.com/server"/>
		</port>
	</service>
	
</definitions>